<div id="<%= dom_id(client) %>" style="background-color: #f9f9f9; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
  <p style="font-size: 18px; color: #333; margin-bottom: 10px;">
    <strong>Nombre:</strong> <%= client.name %>
  </p>

  <p style="font-size: 16px; color: #555; margin-bottom: 5px;">
    <strong>Edad:</strong> <%= client.age %>
  </p>

  <div style="margin-bottom: 10px;">
    <%= image_tag client.movie.image, style: "max-width: 100%; height: auto; border: 1px solid #ccc; border-radius: 5px;" %>
  </div>

  <p style="font-size: 16px; color: #555; margin-bottom: 0;">
    <%= client.movie.name %>
  </p>
  <div style="width: 100px; height: 100px; overflow: hidden;">
    <%= image_tag client.movie.image, style: "width: 100%; height: 100%; object-fit: cover;" %>
  </div>
</div>